.drop-zone {
  background-color: #4d4aff19;
  height: 25rem;
  width: 60%;
  border: 0.125rem dashed var(--blue);
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.drop-zone:focus {
  outline: none;
  background-color: var(--light-blue);
}
.drop-zone-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-gray);
  fill: var(--light-gray);
  gap: 0.5rem;
  font-size: 1rem;
}
