.gear-icon {
  fill: inherit;
  width: 1.6rem;
  height: 1.6rem;
  transform: translate(0, 50%);
  position: absolute;
  top: 0;
  right: 0.5rem;
  stroke: inherit;
  ;
}

@media screen and (max-width: 600px) {
  .gear-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}