.palette-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.palette-title {
  color: var(--light-gray);
  margin-bottom: 1rem;
}
.palette {
  width: 60%;
  height: 1.5rem;
}
@media screen and (max-width: 900px) {
  .palette {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .palette {
    width: 90%;
  }
}