.banner-container {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}

.title-container {
  position: relative;
  width: 80%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: Arista;
  color: var(--light-gray);
}

.title-highlight {
  display: inline;
  padding: .2rem;
  border-radius: .5rem;
  color: var(--dark-gray);
  background-color: var(--blue);
}

.banner-image {
  position: absolute;
  object-fit: cover;
  height: 350%;
  opacity: 0.1;
}


.custom-shape-divider-bottom-1708381704 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1708381704 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1708381704 .shape-fill {
  fill: var(--dark-gray);
}

@media screen and (max-width: 900px) {
  .title-container {
    width: 70%;
    gap: 1rem;
  }

  .logo-image {
    width: 35%;
  }

  .title {
    font-size: 1.5rem;
    line-height: 2rem;

  }

}

@media screen and (max-width: 600px) {
  .title-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    position: absolute;
    width: 20%;
    top: .5rem;
    left: .5rem;
  }

  .title {
    font-size: 2.3rem;
    line-height: 3rem;
    margin-left: 2rem;

  }

  .banner-image {
    height: 200%;
  }

  .custom-shape-divider-bottom-1708381704 svg {
    width: calc(200% + 1.3px);
    transform: translate(-30%, -2%);
  }


}